pkgbase = pgadmin4-nw
	pkgdesc = Comprehensive design and management interface for PostgreSQL
	pkgver = 8.13
	pkgrel = 1
	url = https://www.pgadmin.org/
	arch = x86_64
	license = custom
	makedepends = python-setuptools
	makedepends = python-virtualenv
	makedepends = yarn
	depends = postgresql-libs
	depends = hicolor-icon-theme
	depends = python
	depends = libxcrypt
	depends = glibc
	depends = gcc-libs
	depends = electron
	provides = pgadmin4=8.13
	conflicts = pgadmin4
	source = https://ftp.postgresql.org/pub/pgadmin/pgadmin4/v8.13/source/pgadmin4-8.13.tar.gz
	source = https://ftp.postgresql.org/pub/pgadmin/pgadmin4/v8.13/source/pgadmin4-8.13.tar.gz.asc
	source = pgAdmin4.desktop
	validpgpkeys = E8697E2EEF76C02D3A6332778881B2A8210976F2
	sha512sums = a829c46f789c3b0473bc5c47a2e9353fe46d1149c1a6c96e9e7a64ae98b534faa6c830de1c3c97b7ee5eb9016666cb9e0ddaa129815ad2f028c5a5845bb34d04
	sha512sums = SKIP
	sha512sums = 844868095bbfb40fd0abc641f92f609c71e1d2f87b6edae3b79735266731df0bd8d6bfd513d492ec6016fdd6eb73e4a153366e7e2456adc8173524eb6dab94e2

pkgname = pgadmin4-nw
