pkgbase = pgadmin4-nw
	pkgdesc = Comprehensive design and management interface for PostgreSQL
	pkgver = 8.1
	pkgrel = 1
	url = https://www.pgadmin.org/
	arch = x86_64
	license = custom
	makedepends = python-setuptools
	makedepends = python-virtualenv
	makedepends = yarn
	depends = postgresql-libs
	depends = hicolor-icon-theme
	depends = python
	depends = libxcrypt
	depends = glibc
	depends = gcc-libs
	depends = nwjs-bin
	provides = pgadmin4=8.1
	conflicts = pgadmin4
	source = https://ftp.postgresql.org/pub/pgadmin/pgadmin4/v8.1/source/pgadmin4-8.1.tar.gz
	source = https://ftp.postgresql.org/pub/pgadmin/pgadmin4/v8.1/source/pgadmin4-8.1.tar.gz.asc
	source = pgAdmin4.desktop
	validpgpkeys = E8697E2EEF76C02D3A6332778881B2A8210976F2
	sha512sums = c09b6d5cc5b759c69df821deed9fcbbb145b982b5cd15a02154ccfc1e7cad9ecb659bbca808d9d71e2efb1ad99e539eed64207695ee5979a6325f06c2777f463
	sha512sums = SKIP
	sha512sums = d061d074419b78ed96600329c622334310ca8fdef4b7c68d2594eb322ba814e21f4ce54daa8a27f3ce48a643c72feb342f7258eba52db6f915dff6a73bdba7da

pkgname = pgadmin4-nw
